div.inline { float:left; }

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

nav a {
  width: 30%;
  width: 15em;
  padding: 1em;
  color: rgba(255,255,255, 0.75);
  background-color: tomato;
  border-radius: 0.25em;
  text-decoration: none;
  text-align: center;
}

nav a:hover, nav a:focus {
  color: rgba(255,255,255, 1.0);
  text-decoration: none;
}

nav a::before {
  display: none;
}

nav .svg-inline--fa {
  margin-right: 0.5em;
}

.login::before {
  font-family: "Font Awesome 5 Solid";   content: "\f007";
}

.tps::before {
  font-family: "Font Awesome 5 Regular"; content: "\f1ea";
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";  content: "\f099";
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

///////////////////////////////////////////
/* LoginView */

* {
    box-sizing:         border-box;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
}


/* background: #fe8a93; */
/* background-image: url(https://images.pexels.com/photos/434337/pexels-photo-434337.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb); */
/* background-image: url(https://images.pexels.com/photos/265020/pexels-photo-265020.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb); */
/* background-image: url(https://images.pexels.com/photos/301943/pexels-photo-301943.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb); */
/* background-image: url(https://images.pexels.com/photos/158771/notebook-pen-table-blank-158771.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb); */
/* font-family: arial, sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

body {
  /* margin: 50px 0px 0px 0px; */
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1497348231296-713b847f4ca4?ixlib=rb-0.3.5&s=51809182017e8c466c9d9b911b849825&auto=format&fit=crop&w=2774&q=80);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: initial;
  font-family: 'Open Sans', Arial, sans-serif;
  letter-spacing: 3px;
}

section {
  margin: 50px;
  margin-top: 0px;
}

.logo,
img {
  display: block;
  margin: auto;
  /* width: 400px; */
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* .main-section {
  background: rgba(30, 215, 96, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
} */

a
{
  text-decoration: none
}

header{
  width: 100%;
  height: 80px;
  background: #222;
  text-align: center
}

h1
{
  color: #ddd;
  padding: 20px 20px;
  font: 10px 40px;
  margin: 0;
  display: inline-block
}

.by
{
  color: #a7a7a7;
  font-size: 16px;
  margin: 33px 0px;
  display: inline-block
}

.heart
{
  color: brown;
  display: inline-block;
  font-size: 20px;
  animation: heart 0.7s ease-in-out infinite;
}

header a
{
  color: #03b3b5;
  font-size: 22px;
  margin: 28px 10px;
  display: inline-block
}

header a:hover
{
  text-decoration: underline
}

.user-card
{
	width: 350px;
	height: 350px;
	margin: 50px auto;
  position: relative;
	background: #fff;
	overflow: hidden;
	box-shadow:         0 1px 3px 0 rgba(0,0,0,0.08);
	-moz-box-shadow:    0 1px 3px 0 rgba(0,0,0,0.08);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
  border-radius:         5px;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
}

input
{
	width: 100%;
	height: 40px;
	border-radius:         3px;
	-moz-border-radius:    3px;
	-webkit-border-radius: 3px;
	border: 1px solid #dee3e4;
	padding: 3px 12px;
	margin: 6px 0;
}

input:focus
{
	outline: none;
	border: 1px solid #03b3b5;
	transition:         all .5s ease-in-out;
	-o-transition:      all .5s ease-in-out;
	-moz-transition:    all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.login-box{
	padding: 20px 40px;
	right: 0px;
}

.signup-box{
	padding: 40px;
	right: -350px;
}

.login, .signup
{
	text-align: center;
	color: #fff;
	background: #03b3b5;
	line-height: 30px;
	opacity: 0.95;
}

.login:hover{opacity: 1}

.or
{
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #dee3e4;
	position: relative;
	margin: 20px 0;
}

.or:before
{
	content: 'OR';
	width: 40px;
	height: 18px;
	position: absolute;
	top: -5px;
	right: calc(50% - 20px);
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/* background-color: #fff; */
	text-align: center;
	line-height: 10px;
	color: #fff
}

.login-with-fb,
.login-with-google
{
	width: 100%;
	height: 40px;
	display: block;
	margin: 15px 0;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	opacity: .95;
  border-radius:         3px;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
}

.login-with-fb:hover,
.login-with-google:hover
{
	opacity: 1;
  background: #3e5f91;
  cursor: pointer;
  /* letter-spacing: 4px; */
}

.login-with-fb
{
	background: #527EBF;
  width: 240px;
  margin: auto;
  letter-spacing: 2px;
}

.login-with-google
{
	background: #DB4A37;
  width: 350px;
  margin: auto;
}

.login-with-fb .icon,
.login-with-google .icon
{
	float: left;
	font-size: 21px;
	width: 50px;
	height: 26px;
	margin: 7px;
	padding: 2px;
	text-align: center;
	border-right: 1px solid #fff;
}


/**** footer *****/

/* .user-card .footer
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	color: #666;
	font-size: 13px;
	font-family: sans-serif;
}

.footer a
{
	color: #03b3b5;
} */

@keyframes heart{
  0%{
    transform:         scale(1, 1);
    -ms-transform:     scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
  50%{
    transform:         scale(1.5, 1.5);
    -ms-transform:     scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
  }
  100%{
    transform:         scale(1, 1);
    -ms-transform:     scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
}

/* Course */

/* body {
  background: #f3f3f3;
  position: relative;
} */

/**
* Persona Header / Navigation
**/
.persona-header {
  overflow: visible;
  background-color: #ffffff !important;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1) !important;
}

  .persona-header .material-icons {
    color: #767777 !important; /* Keep this !important */
  }

  .persona-header .mdl-layout__drawer-button {
    background: transparent !important;
    color: #767777 !important;
    line-height: 52px;
  }

  .persona-header .mdl-navigation__link {
    color: #767777 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    text-transform: uppercase;
  }

/* Navigation */
.persona-navigation .mdl-navigation__link {
    display: inline-block !important;
    height: 60px !important;
    line-height: 68px !important;
    background-color: transparent !important; /*Keep this !important*/
    border-bottom: 4px solid transparent !important;
  }

    .persona-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #00bcd4 !important;
    }

/* Title */
.persona-title {
  color: #767777 !important;
}

/**
* Persona Card Grid / Cards
**/
.persona-card-grid {
  padding: 30px 0 !important;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

/* Cards */
  .persona-card-wide.mdl-card {
    width: 360px;
  }

    .persona-card-wide > .mdl-card__title {
      color: #fff;
      height: 200px;
      background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
      background-color: #00bcd4;
    }

    .persona-card-wide > .mdl-card__menu {
      color: #fff;
    }

/* AdminHome */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

/* body {
  margin: 25px 0;
}

span.title {
  margin: 0 auto;
  color: #BBB;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  text-align: center;
  display: block;
}

.basicBox, .swiggleBox, .checkBox {
  width: 215px;
  height: 250px;
  margin: 15px auto;
  color: #4274D3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  background: white;
} */

/* svg rect, svg path, svg polyline {
  fill: white;
  stroke: #777777;
  stroke-width: 1;
} */

/* .basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #4274D3;
} */

/* Basic Box */
svg rect {
  stroke-dasharray: 400, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}



body * {
  transition: all 0.5s;
}
.container {
  width: 960px;
  margin: 50px auto;
  padding: 5px;
  padding-left: 20px;
  psdding-right: 0;
}

.box {
  width: 43%;
  height: 475px;
  margin: 3.2%;
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  background: #00000066;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  cursor: pointer;
}
.box .icon-cont {
  border: 6px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  width: 290px;
  height: 290px;
  margin: 35px auto;
  display: block;
  text-align: center;

  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 5;

  box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
}
.box .icon-cont i {
  color: #fff;
  opacity: 0.6;
  font-size: 2.5em;
  line-height: 75px;
}
.box:hover .icon-cont {
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.box h3 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding: 8px;
  border-bottom: 1px solid rgba(255,255,255,0);
  position: absolute;
  top: 355px;
  width: 80%;
  left: 10%;
  right: 10%;
}
.box.selected .icon-cont {
  transform: scale(1.5,1.5);
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: -5px;
  right: 180px;
}
.box.selected:hover .icon-cont {
  animation: none;
}
.box.selected h3 {
  padding: 32px 15px 15px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);

  width: 70%;
  top: 16px;
  left: 10%;
}
.box.selected ul.hidden {
  opacity: 1;
  margin-top: 95px;
}


/* StudentManagement */

h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 2px 2px #fe8a9370;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #222;
 }
.tbl-content{
  height:510px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #222;
  background: #00000080;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/* section{
  margin: 50px;
} */


/* follow me template */
.made-with-love {
  background: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 51px;
  font-size: 17px;
  font-family: arial;
  color: #f6f7f9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 20px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* flag */


.containerflag {
  position: relative;
  height: 48px;
}

.cont-2 {
  width: 120px;
  padding: 14px 24px;
  background: #5cb85c;
  color: #ffffff;
  /* margin-top: 20px; */
}
.cont-2::before {
  position: absolute;
  right: -30px;
  margin-top: -14px;
  content: '';
  border-top: 24px solid #5cb85c;
  border-left: 30px solid #5cb85c;
  border-bottom: 24px solid transparent;
  border-right: 30px solid transparent;
}
.cont-2::after {
  margin-top: -14px;
  position: absolute;
  right: -30px;
  content: '';
  border-bottom: 24px solid #5cb85c;
  border-left: 30px solid #5cb85c;
  border-top: 24px solid transparent;
  border-right: 30px solid transparent;
}
